.main_container,
.container_nav,
.about_content {
  display: flex;
}

.container_nav,
.about_content {
  flex-direction: column;
  justify-content: center;
}

.main_container {
  flex-direction: row;
  padding: 0px;
}

.container_nav {
  align-items: center;
  background-color: #007fad;
}

.about_content {
  opacity: 0;
  width: 80vw;
  height: 100vh;
  gap: 4em;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.about_content h1 {
  background: rgb(225, 90, 81);
  background: linear-gradient(90deg, rgba(225, 90, 81, 1) 0%, rgba(255, 255, 255, 0) 47%);
  margin: 0px;
}

.content_text_box {
  padding-left: 3em;
  width: 60vw;
  font-size: 1.3em;
}
.content_text_box p {
  line-height: 1.5em;
}

@keyframes slidein {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.about_content span {
  width: 100%;
  display: flex;
  padding-left: 4em;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
}

.icons {
  width: 2.5em;
  transition: all ease-in-out 250ms;
}

.icons:hover {
  filter: invert(40%) sepia(62%) saturate(732%) hue-rotate(321deg) brightness(106%) contrast(78%);
}

/* media queries - switching to an or*/
/* phones */
@media screen and (max-width: 480px) {
  .main_container {
    flex-direction: column;
  }

  .content_text_box {
    font-size: 4.5vw;
    text-align: left;
    padding-left: 2em;
    width: 90vw;
  }
  .about_content {
    margin-top: 5vh;
    justify-content: flex-start;
    width: 100vw;
    height: 80vh;
  }
  .about_content h1 {
    display: none;
  }

  .about_content span {
    padding-left: 2em;
    padding-bottom: 2em;
  }
}

/* tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main_container {
    flex-direction: column;
  }

  .content_text_box {
    font-size: 3vw;
    text-align: left;
    padding-left: 2em;
    width: 90vw;
  }
  .about_content {
    margin-top: 0vh;
    width: 100vw;
    height: 80vh;
  }
  .about_content h1 {
    width: 100vw;
    padding-left: 0em;
    text-align: left;
    background: linear-gradient(90deg, rgba(225, 90, 81, 1) 0%, rgba(255, 255, 255, 0) 50%);
  }
  .about_content span {
    padding-left: 2em;
  }
}
