* {
  margin: 0;
}
.main_container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
}

.content {
  display: flex;
  height: 100vh;
  overflow: auto;
  flex-direction: column;
  gap: 1em;
}

.education_content {
  opacity: 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

h1 {
  padding-left: 1.5em;
  background: rgb(225, 90, 81);
  background: linear-gradient(90deg, rgba(225, 90, 81, 1) 0%, rgba(255, 255, 255, 0) 47%);
}

h2 {
  padding-left: 2em;
  color: #e15a51;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

h3 {
  padding-left: 3em;
  font-size: 1em;
  margin-bottom: 2em;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.education_content p {
  padding-left: 3em;
  width: 40vw;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.education ul {
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

ul ::marker {
  color: #e15a51;
}

.education_item_header {
  width: 75vw;
  margin-bottom: 0.7em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.education_item_header span {
  width: max-content;
  color: dimgray;
}

.education_item ul {
  padding-left: 4em;
  color: dimgray;
}

/* media queries */
/* phones */
@media screen and (max-width: 480px) {
  .main_container {
    flex-direction: column;
  }
  .content {
    height: auto;
    margin-top: 2vh;
    justify-content: flex-start;
    padding-bottom: 2em;
  }

  .education_content {
    width: 100vw;
    padding-left: 0.5em;
  }

  .education_item_header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h1,
  h2,
  h3,
  .education_item_header span {
    padding-left: 0em;
  }

  h1 {
    display: none;
    background: none;
  }

  .education_item p {
    width: 95vw;
    padding: 0em;
    text-align: left;
  }

  .education_item ul {
    padding-left: 2em;
  }
}

/* tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main_container {
    flex-direction: column;
  }
  .content {
    margin-top: 0vh;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 2em;
  }

  .education_content {
    margin-top: 2vh;
    width: 100vw;
    padding-left: 0.5em;
  }

  .education_item_header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h1,
  h2,
  h3,
  .education_item_header span {
    padding-left: 0em;
  }

  h1 {
    display: none;
    background: none;
  }
  h2 {
    width: 95vw;
    font-size: 4vw;
  }
  h3 {
    width: 95vw;
    font-size: 3vw;
  }

  .education_item p {
    width: 90vw;
    padding: 0em;
    text-align: left;
  }
  .education_item ul {
    padding-left: 2em;
  }
}

/* laptops and smallscreens */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container_nav {
    width: 20vw;
  }
  .content {
    justify-content: flex-start;
    padding-bottom: 2em;
  }

  .education_content {
    margin-top: 0vh;
    width: 80vw;
    padding-left: 0.5em;
  }

  .education_item_header {
    width: 90%;
  }

  h1,
  .education_item_header span {
    padding-left: 0.5em;
  }
  h2 {
    width: 50%;
    font-size: 2vw;
  }

  .education_item_header h2,
  h3 {
    padding-left: 0;
  }

  .education_item p {
    width: 100%;
    padding: 0em;
    text-align: left;
  }
}
