.main_container {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.container_nav {
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #007fad;
}

.content {
  opacity: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.project_elements {
  opacity: 0;
  padding-left: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.project_item {
  display: flex;
  width: 67vw;
  gap: 2em;
}

.project_img {
  width: 30vw;
  height: auto;
  filter: blur(2px);
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: all ease-in-out 250ms;
}

.project_item:hover .project_img {
  width: 30.5vw;
  filter: blur(0px);
}

.project_item span {
  display: flex;
  gap: 2em;
}

.project_item_side {
  width: 40em;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: column;
}

.project_item_side p:last-of-type {
  color: dimgray;
}

.project_item_side h2 {
  padding: 0;
}

.icons {
  width: 2em;
  transition: all ease-in-out 350ms;
}

.icons:hover {
  filter: invert(40%) sepia(62%) saturate(732%) hue-rotate(321deg) brightness(106%) contrast(78%);
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .main_container {
    flex-direction: column;
  }
  .container_nav {
    width: 100vw;
    height: 10vh;
  }

  .content {
    width: 100vw;
    margin-top: 35vw;
    margin-bottom: 1em;
    gap: 2em;
  }

  .project_elements {
    padding-left: 0;
  }

  .project_item {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 2em;
    align-items: center;
  }

  .project_item:hover .project_img {
    width: 90vw;
    filter: blur(0px);
  }

  .project_img {
    width: 90vw;
    height: auto;
    filter: blur(0px);
  }

  .project_item_side {
    width: 100vw;
    padding-left: 0.5em;
  }
}
