.nav {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #007fad;
}

nav a {
  list-style: none;
  font-size: 1.8em;
  color: white;
  transition: all ease-in-out 330ms;
}

nav a:hover {
  color: #f49fad;
}

.active {
  color: #f49fad;
}

.avatar {
  border-radius: 100px;
  margin-bottom: 2em;
  background-color: white;
  overflow: hidden;
  border: 3px solid white;
  outline: 3px solid #e15a51;
  transition: all ease-in-out 250ms;
}

.avatar img {
  width: 200px;
  height: 200px;
  transform: translateY(10px);
}

.burger {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .nav {
    width: 100vw;
    height: 10vh;
    gap: 0em;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 6vw;
  }

  .avatar {
    display: none;
  }

  .burger {
    width: 100%;
  }
  .collapse {
    width: 100vw;
    text-align: right;
    padding: 0vw 3vw 3vw 3vw;
    background-color: #007fad;
    position: absolute;
    top: 21vw;
    right: 0px;
  }
}
