.nav {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #007fad;
}

nav a {
  list-style: none;
  font-size: 1.5vw;
  color: white;
  transition: all ease-in-out 330ms;
}

nav a:hover {
  color: #f49fad;
}

.active {
  color: #f49fad;
}

.avatar {
  border-radius: 200px;
  margin-bottom: 2em;
  background-color: white;
  overflow: hidden;
  border: 3px solid white;
  outline: 3px solid #e15a51;
  transition: all ease-in-out 250ms;
}

.avatar img {
  width: 15vw;
  height: 15vw;
  transform: translateY(10px);
}

.burger {
  display: flex;
  justify-content: flex-end;
}
/* media queries */
/* phones */
@media screen and (max-width: 480px) {
  .nav {
    width: 100vw;
    height: 10vh;
    gap: 0em;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 4.8vw;
  }

  .avatar {
    display: none;
  }

  .burger {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    padding-top: 0.5em;
  }
  .collapse {
    width: 40vw;
    text-align: right;
    padding: 3vw 3vw 3vw 3vw;
    background-color: #007fad;
    border-radius: 0 0 0.5em 0.5em;
    position: absolute;
    z-index: 1;
    top: 15vw;
    right: 0px;
  }
}

/* tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav {
    width: 100vw;
    height: 10vh;
    gap: 0em;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 4.5vw;
  }

  .avatar {
    display: none;
  }

  .burger {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    padding-top: 0.5em;
  }

  .collapse {
    width: 40vw;
    text-align: right;
    padding: 4vw 1.5vw 1vw 1vw;
    background-color: #007fad;
    border-radius: 0 0 0.5em 0.5em;
    position: absolute;
    top: 10vw;
    right: 0px;
    z-index: 1;
  }
}

/* laptops and smallscreens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav a {
    font-size: 2.2vw;
  }
}
